/* layout */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1.15rem;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
}

.heading {
    text-align: center;
    font-size: 4rem;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.c-flex {
    display: flex;
    flex-direction: column;
}

.site-title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}


/* button */

.button {
    text-align: center;
    padding: 1em;
    border: 1px solid white;
    margin: 1em 1em;
}




/* typography */

#xs {
    margin: .6em 0;
}


/* img styling */


.main-img {
 margin: 1em 0;   
}


/* screen size */

.merch-img {
    order: 1;
}

.merch-h2 {
    order: 0;
}

@media (min-width: 800px) {
    .container {
        max-width: 70%;
    }

    .heading {
        text-align: left;
        padding: .5em;
    }

    .c-flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .new-album {
        align-items: center;
        margin-bottom: 2em;
    }

    #xs {
        margin: 0;
    }

    /* merch */

    .merch {
        margin-bottom: 1em;
    }

    /* button */

    .merch-img {
        order: 0;
        width: 25%;
    }
    
    .merch-h2 {
        order: 1;
    }

    .button {
        margin: 0;
        margin-bottom: 2em;
    }
    
    .btn-sm {
        width: 50%;
        margin: 0 auto;
    }
}



/* nav */

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-family: 'Staatliches', cursive;
}

.nav-li {
    margin: 0 1em;
    font-size: 1.2rem;
}

.active {
    border-bottom: 1px solid white;
}

/* links */

a,
a:visited {
    text-decoration: none;
    color:inherit;
}

a:focus {
    color: beige;
}